# WordPress
resources/public/wp
resources/public/.htaccess

# WP-CLI
db-sync
sql-dump-*.sql

# Dotenv
.env
.env.*
!.env.example

# Application
resources/public/app/plugins/*
!resources/public/app/plugins/.gitkeep
resources/public/app/mu-plugins/*
!resources/public/app/mu-plugins/.gitkeep
resources/public/app/upgrade
resources/public/app/uploads/*
!resources/public/app/uploads/.gitkeep
!resources/public/app/mu-plugins/disallow-indexing.php
!resources/public/app/mu-plugins/register-theme-directory.php
!resources/public/app/mu-plugins/bedrock-autoloader.php

# Vendor (e.g. Composer)
vendor/*
!vendor/.gitkeep

# Node Package Manager
node_modules

# Vagrant
bin
.vagrant
